<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ETPL-DTP-020/IdeaProjects/Playwright2">
        <classes>
            <class name="search.multiplelogin">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
            <class name="search.menuselect">
                <methods>
                    <include name="menuselect">
                    </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>